.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

#first {
  fill: steelblue;
}

#second {
  fill: orange;
}

#third {
  fill: forestgreen;
}

#fourth {
  fill: crimson;
}