/* preloader */
.preload {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #262626;
    color: white;
    opacity: 0.7;
    font-size: 25px;
}

#labelYear{
    position: absolute;
}
#labelRegion{
    position: absolute;
}
#labelBigRegion{
    position: absolute;
}
#labelAttack{
    position: absolute;
}
#labelText{
    position: absolute;
}
#labelLink{
    position: absolute;
    top: 300px;
    left: 400px;
}
#labelGroup{
    position: absolute;
}
#labelInternal {
    position: absolute;
    top:940px;
    left:400px;
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000000;
    font-size: 20px;
    background: #D1e1df;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
}  
#labelExternal {
    position: absolute;
    top:940px;
    left:600px;
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000000;
    font-size: 20px;
    background: #f1ded4;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
}
/* preloader end */
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

b {
    font-weight: 900;
}


.outline {
    fill: none;
    stroke: #888888;
    stroke-width: 1px;
}

.tooltip {
    font-size: 8pt;
    font-weight: 900;

    fill: #000000;
    stroke: #ffffff;
    stroke-width: 0.25px;
    /* text-orientation: sideways; */
    /* writing-mode: vertical-rl; */
}

.node {
    stroke: #ffffff;
    stroke-weight: 1px;
}

.node text {
    pointer-events: none;
    font: 10px sans-serif;

}

.link {
    fill: none;
    stroke: #888888;
    stroke-weight: 1px;
    stroke-opacity: 0.7;
}

.link:hover {
    stroke-opacity: 1;
}

.link_text {
    font-size: 0pt;
}

.highlight {
    stroke: red;
    stroke-weight: 4px;
    stroke-opacity: 1.0;
}

#arc {
    padding-left: 40px;
    padding-top: 205px;
}
/* play button related */
.playpause label {
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 37px;
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: double;
  border-width: 0px 0 0px 30px;
  float: left;
}
.playpause input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}
.playpause input[type="checkbox"]:checked + label {
  border-style: solid;
  border-width: 18px 0 18px 30px;
}
.playpause input[type="checkbox"]:focus + label {
  box-shadow: 0 0 5px lightblue;
}

/* Sankey */
.sankeyNode1 rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.sankeyNode1 text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.sankeyLink1 {
    fill: none;
    stroke: #0C665E;
    stroke-opacity: .2;
}

.sankeyLink1:hover {
    stroke-opacity: .5;
}

.sankeyNode2 rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.sankeyNode2 text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.sankeyLink2 {
    fill: none;
    stroke: #BB5616;
    stroke-opacity: .2;
}

.sankeyLink2:hover {
    stroke-opacity: .5;
}

#chart1 {
    position: absolute;
    top: 980px;
}

#chart2 {
    position: absolute;
    top: 980px;
    left: 1200px;
    
}

#sankeyTitle {
    position: absolute;
    top: 920px;
    left: 20px;
    font-size: 20pt;
}

/* Bubbles */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

#first {
  fill: steelblue;
}

#second {
  fill: orange;
}

#third {
  fill: forestgreen;
}

#fourth {
  fill: crimson;
}

#svg1 {
    position: absolute;
    visibility: hidden;
    left: 1400px;
    top: 700px;  
}

#svg2 {
    position: absolute;
    left: 1700px;
    top: 120px;
}

circle {
    opacity: 0.2;
}