body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

b {
    font-weight: 900;
}


.outline {
    fill: none;
    stroke: #888888;
    stroke-width: 1px;
}

#tooltip {
    font-size: 5pt;
    font-weight: 900;

    fill: #000000;
    stroke: #ffffff;
    stroke-width: 0.25px;
}

.node {
    stroke: #ffffff;
    stroke-weight: 1px;
}

.node text {
    pointer-events: none;
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #888888;
    stroke-weight: 1px;
    stroke-opacity: 0.7;
}

.link:hover {
    stroke-opacity: 1;
}

.highlight {
    stroke: red;
    stroke-weight: 4px;
    stroke-opacity: 1.0;
}

#arc {
    padding-left: 10px
}
/* play button related */
.playpause label {
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 37px;
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: double;
  border-width: 0px 0 0px 30px;
  float: left;
}
.playpause input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}
.playpause input[type="checkbox"]:checked + label {
  border-style: solid;
  border-width: 18px 0 18px 30px;
}
.playpause input[type="checkbox"]:focus + label {
  box-shadow: 0 0 5px lightblue;
}


/* Sankey */
#chart1 {
    position: absolute;
    top: 720px;
    width: 800px;
    padding-right: 50px;
}
.sankey_node rect {
    cursor: move;

    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.sankey_node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.sankey_link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.sankey_link:hover {
    stroke-opacity: 0.4;
}

.tip-class {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: black;

    color: #fff;
    border-radius: 4px;
}

/* Bubbles */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

#first {
  fill: steelblue;
}

#second {
  fill: orange;
}

#third {
  fill: forestgreen;
}

#fourth {
  fill: crimson;
}

#svg1 {
    position: absolute;
    left: 1050px;
    top: 120px;
}

#svg2 {
    position: absolute;
    left: 1050px;
    top: 600px;
}